<?xml version="1.0" encoding="UTF-8"?>
<settings version="1">
    <section id="plugin.video.blazetv">
        <category id="server" label="30000">
            <group id="1" label="30001">
                <setting id="m3u_url" type="string" label="30002">
                    <level>0</level>
                    <default></default>
                    <constraints>
                        <allowempty>true</allowempty>
                    </constraints>
                    <control type="button" format="file">
                        <data>
                            <heading>30003</heading>
                            <masking>
                                <mask>*.m3u|*.m3u8|*.*</mask>
                            </masking>
                        </data>
                    </control>
                </setting>
            </group>
            <group id="2" label="30004">
                <setting id="server_url" type="string" label="30005">
                    <level>0</level>
                    <default>http://mains.services/get.php</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="username" type="string" label="30006">
                    <level>0</level>
                    <default></default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="password" type="string" label="30007">
                    <level>0</level>
                    <default></default>
                    <control type="edit" format="string">
                        <hidden>true</hidden>
                    </control>
                </setting>
                <setting id="type" type="string" label="30008">
                    <level>0</level>
                    <default>m3u_plus</default>
                    <control type="edit" format="string"/>
                </setting>
                <setting id="output" type="string" label="30009">
                    <level>0</level>
                    <default>ts</default>
                    <control type="edit" format="string"/>
                </setting>
            </group>
        </category>
        <category id="display" label="30010">
            <group id="1" label="30011">
                <setting id="show_categories" type="boolean" label="30012">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="load_epg" type="boolean" label="30013">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="cache_duration" type="integer" label="30014">
                    <level>0</level>
                    <default>60</default>
                    <constraints>
                        <minimum>5</minimum>
                        <maximum>1440</maximum>
                    </constraints>
                    <control type="edit" format="integer"/>
                </setting>
            </group>
        </category>
        <category id="features" label="30015">
            <group id="1" label="30016">
                <setting id="enable_search" type="boolean" label="30017">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="enable_history" type="boolean" label="30018">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="history_days" type="integer" label="30019">
                    <level>0</level>
                    <default>30</default>
                    <constraints>
                        <minimum>1</minimum>
                        <maximum>365</maximum>
                    </constraints>
                    <control type="edit" format="integer"/>
                </setting>
                <setting id="enable_debug" type="boolean" label="30020">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
